PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVSeleccion_01_Lista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VSeleccion_01_Lista" nillable="true" type="tns:VSeleccion_01_Lista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVSeleccion_01_Lista" nillable="true" type="tns:ArrayOfVSeleccion_01_Lista" />
  <xs:complexType name="VSeleccion_01_Lista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VSeleccion_01">
        <xs:sequence>
          <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VSeleccion_01_Lista" nillable="true" type="tns:VSeleccion_01_Lista" />
  <xs:complexType name="VSeleccion_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSeleccion" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VSeleccion_01" nillable="true" type="tns:VSeleccion_01" />
</xs:schema>