PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop198.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompraIngreso_01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngreso_01" nillable="true" type="tns:VCompraIngreso_01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngreso_01" nillable="true" type="tns:ArrayOfVCompraIngreso_01" />
  <xs:complexType name="VCompraIngreso_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caja" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Grupo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduc" type="xs:int" />
      <xs:element minOccurs="0" name="Maple" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCant" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompraIngreso_01" nillable="true" type="tns:VCompraIngreso_01" />
</xs:schema>