PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodBar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo1" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo2" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo3" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo4" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo5" type="xs:int" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="UniPeso" type="xs:int" />
      <xs:element minOccurs="0" name="UniVenta" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VProducto" nillable="true" type="tns:VProducto" />
  <xs:complexType name="ArrayOfVProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VProducto" nillable="true" type="tns:VProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVProducto" nillable="true" type="tns:ArrayOfVProducto" />
  <xs:complexType name="ArrayOfVProductoLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VProductoLista" nillable="true" type="tns:VProductoLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVProductoLista" nillable="true" type="tns:ArrayOfVProductoLista" />
  <xs:complexType name="VProductoLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VProductoLista" nillable="true" type="tns:VProductoLista" />
</xs:schema>