PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VAlmacenCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLibreria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAlmacenCombo" nillable="true" type="tns:VAlmacenCombo" />
  <xs:complexType name="ArrayOfVAlmacenLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAlmacenLista" nillable="true" type="tns:VAlmacenLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAlmacenLista" nillable="true" type="tns:ArrayOfVAlmacenLista" />
  <xs:complexType name="VAlmacenLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Encargado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalId" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAlmacen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAlmacenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAlmacenLista" nillable="true" type="tns:VAlmacenLista" />
  <xs:complexType name="ArrayOfVDetalleKardex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VDetalleKardex" nillable="true" type="tns:VDetalleKardex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVDetalleKardex" nillable="true" type="tns:ArrayOfVDetalleKardex" />
  <xs:complexType name="VDetalleKardex">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entradas" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaldoAnterior" type="xs:decimal" />
      <xs:element minOccurs="0" name="Salidas" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VDetalleKardex" nillable="true" type="tns:VDetalleKardex" />
  <xs:complexType name="VAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Encargado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAlmacenId" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAlmacen" nillable="true" type="tns:VAlmacen" />
  <xs:complexType name="ArrayOfVAlmacenCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAlmacenCombo" nillable="true" type="tns:VAlmacenCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAlmacenCombo" nillable="true" type="tns:ArrayOfVAlmacenCombo" />
</xs:schema>