PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.DiSoft.Personal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.DiSoft.Personal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVPersonalCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VPersonalCombo" nillable="true" type="tns:VPersonalCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVPersonalCombo" nillable="true" type="tns:ArrayOfVPersonalCombo" />
  <xs:complexType name="VPersonalCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VPersonalCombo" nillable="true" type="tns:VPersonalCombo" />
</xs:schema>