PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVPrecioLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VPrecioLista" nillable="true" type="tns:VPrecioLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVPrecioLista" nillable="true" type="tns:ArrayOfVPrecioLista" />
  <xs:complexType name="VPrecioLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="COd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrecioCat" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VPrecioLista" nillable="true" type="tns:VPrecioLista" />
</xs:schema>