PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.Rol.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.Rol.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Rol1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VRol" nillable="true" type="tns:VRol" />
  <xs:complexType name="ArrayOfVRol_01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VRol_01" nillable="true" type="tns:VRol_01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVRol_01" nillable="true" type="tns:ArrayOfVRol_01" />
  <xs:complexType name="VRol_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Del" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdModulo" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrograma" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol_01" type="xs:int" />
      <xs:element minOccurs="0" name="Mod" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreProg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:VRol" />
      <xs:element minOccurs="0" name="Show" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VRol_01" nillable="true" type="tns:VRol_01" />
  <xs:complexType name="ArrayOfVRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VRol" nillable="true" type="tns:VRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVRol" nillable="true" type="tns:ArrayOfVRol" />
</xs:schema>