PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVTraspasoTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VTraspasoTicket" nillable="true" type="tns:VTraspasoTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVTraspasoTicket" nillable="true" type="tns:ArrayOfVTraspasoTicket" />
  <xs:complexType name="VTraspasoTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="EntregadoPor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEnvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRecepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecibidoPor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransportadoPor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="almDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="almOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalleId" type="xs:int" />
      <xs:element minOccurs="0" name="traspasoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VTraspasoTicket" nillable="true" type="tns:VTraspasoTicket" />
</xs:schema>