PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVSeleccionLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VSeleccionLista" nillable="true" type="tns:VSeleccionLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVSeleccionLista" nillable="true" type="tns:ArrayOfVSeleccionLista" />
  <xs:complexType name="VSeleccionLista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VSeleccion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRecepcion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Granja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tipo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VSeleccionLista" nillable="true" type="tns:VSeleccionLista" />
  <xs:complexType name="VSeleccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraIng" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucur" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VSeleccion" nillable="true" type="tns:VSeleccion" />
</xs:schema>