PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_03.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_03.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompraIngreso_03">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngreso_03" nillable="true" type="tns:VCompraIngreso_03" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngreso_03" nillable="true" type="tns:ArrayOfVCompraIngreso_03" />
  <xs:complexType name="VCompraIngreso_03">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caja" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompra" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduc" type="xs:int" />
      <xs:element minOccurs="0" name="Maple" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCant" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMaple" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompraIngreso_03" nillable="true" type="tns:VCompraIngreso_03" />
</xs:schema>