PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra_01.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra_01.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompra_01_Lista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompra_01_Lista" nillable="true" type="tns:VCompra_01_Lista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompra_01_Lista" nillable="true" type="tns:ArrayOfVCompra_01_Lista" />
  <xs:complexType name="VCompra_01_Lista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VCompra_01">
        <xs:sequence>
          <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VCompra_01_Lista" nillable="true" type="tns:VCompra_01_Lista" />
  <xs:complexType name="VCompra_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaVen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompra" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcent" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Utilidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompra_01" nillable="true" type="tns:VCompra_01" />
</xs:schema>