PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVTransformacionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VTransformacionReport" nillable="true" type="tns:VTransformacionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVTransformacionReport" nillable="true" type="tns:ArrayOfVTransformacionReport" />
  <xs:complexType name="VTransformacionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlmacenIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlmacenSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto_Mat" type="xs:int" />
      <xs:element minOccurs="0" name="MateriaPrima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMateriaPrima" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalProd" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VTransformacionReport" nillable="true" type="tns:VTransformacionReport" />
</xs:schema>