PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.Usuario.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.Usuario.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VUsuario" nillable="true" type="tns:VUsuario" />
  <xs:complexType name="ArrayOfVUsuario_01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VUsuario_01" nillable="true" type="tns:VUsuario_01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVUsuario_01" nillable="true" type="tns:ArrayOfVUsuario_01" />
  <xs:complexType name="VUsuario_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="DescripAlm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripSuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdSuc" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario_01" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VUsuario_01" nillable="true" type="tns:VUsuario_01" />
  <xs:complexType name="ArrayOfVUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VUsuario" nillable="true" type="tns:VUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVUsuario" nillable="true" type="tns:ArrayOfVUsuario" />
</xs:schema>