PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_02" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VCompraIngreso_02">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdLibreria" type="xs:int" />
      <xs:element minOccurs="0" name="Libreria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompraIngreso_02" nillable="true" type="tns:VCompraIngreso_02" />
  <xs:complexType name="ArrayOfVCompraIngreso_02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngreso_02" nillable="true" type="tns:VCompraIngreso_02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngreso_02" nillable="true" type="tns:ArrayOfVCompraIngreso_02" />
</xs:schema>