PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionAlmacen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncPrVenta" type="xs:int" />
      <xs:element minOccurs="0" name="EncTransporte" type="xs:int" />
      <xs:element minOccurs="0" name="EncVenta" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FacturaEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVenta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoriaCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="NitCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VVenta" nillable="true" type="tns:VVenta" />
  <xs:complexType name="ArrayOfVVenta_01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VVenta_01" nillable="true" type="tns:VVenta_01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVVenta_01" nillable="true" type="tns:ArrayOfVVenta_01" />
  <xs:complexType name="VVenta_01">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoBarra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contenido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Delete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdVenta" type="xs:int" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCosto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioMaxVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioMinVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalContenido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VVenta_01" nillable="true" type="tns:VVenta_01" />
  <xs:complexType name="ArrayOfVVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VVenta" nillable="true" type="tns:VVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVVenta" nillable="true" type="tns:ArrayOfVVenta" />
</xs:schema>