PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVSeleccionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VSeleccionReport" nillable="true" type="tns:VSeleccionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVSeleccionReport" nillable="true" type="tns:ArrayOfVSeleccionReport" />
  <xs:complexType name="VSeleccionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Observ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VSeleccionReport" nillable="true" type="tns:VSeleccionReport" />
</xs:schema>