PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Libreria.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.TipoAlmacen.view" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/ENTITY.reg.PrecioCategoria.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_02" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion_01.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.Report" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra_01.View" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Plantilla" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/UTILITY.Enum" />
  <xs:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SERVICE" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SERVICE" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibreriaListarCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibreriaListarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ENTITY.Libreria.View" minOccurs="0" name="LibreriaListarComboResult" nillable="true" type="q3:ArrayOfVLibreria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibreriaGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ENTITY.Libreria.View" minOccurs="0" name="vlibreria" nillable="true" type="q4:VLibreriaLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibreriaGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibreriaGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" minOccurs="0" name="ClienteListarResult" nillable="true" type="q5:ArrayOfVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" minOccurs="0" name="cliente" nillable="true" type="q6:VCliente" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" minOccurs="0" name="cliente" nillable="true" type="q7:VCliente" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteModificarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteEliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListar1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListar1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" minOccurs="0" name="ClienteListar1Result" nillable="true" type="q8:ArrayOfVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" minOccurs="0" name="ClientesListarResult" nillable="true" type="q9:ArrayOfVClienteLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListarEncabezado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteListarEncabezadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteListarEncabezadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" minOccurs="0" name="proveedor" nillable="true" type="q10:VProveedor" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" minOccurs="0" name="detalle" nillable="true" type="q11:ArrayOfVProveedor_01Lista" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProveedorGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" minOccurs="0" name="ProveedorListarXIdResult" nillable="true" type="q12:ArrayOfVProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" minOccurs="0" name="ProveedorListarResult" nillable="true" type="q13:ArrayOfVProveedorLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListarEncabezado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorListarEncabezadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProveedorListarEncabezadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_01ListarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_01ListarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" minOccurs="0" name="Proveedor_01ListarXIdResult" nillable="true" type="q14:ArrayOfVProveedor_01Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" minOccurs="0" name="proveedor" nillable="true" type="q15:VProducto" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" minOccurs="0" name="proveedor" nillable="true" type="q16:VProducto" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoModificarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoEliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoListarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoListarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" minOccurs="0" name="ProductoListarXIdResult" nillable="true" type="q17:ArrayOfVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" minOccurs="0" name="ProductoListarResult" nillable="true" type="q18:ArrayOfVProductoLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoExisteEnCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoExisteEnCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoExisteEnCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrductoListarEncabezado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="IdCategoriaPrecio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrductoListarEncabezadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrductoListarEncabezadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalleKardex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalleKardexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" minOccurs="0" name="ListarDetalleKardexResult" nillable="true" type="q19:ArrayOfVDetalleKardex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" minOccurs="0" name="vAlmacen" nillable="true" type="q20:VAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenListarCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenListarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" minOccurs="0" name="AlmacenListarComboResult" nillable="true" type="q21:ArrayOfVAlmacenCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" minOccurs="0" name="AlmacenListarResult" nillable="true" type="q22:ArrayOfVAlmacenLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ENTITY.inv.TipoAlmacen.view" minOccurs="0" name="vTipoAlmacen" nillable="true" type="q23:VTipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoAlmacenGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenListarCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenListarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ENTITY.inv.TipoAlmacen.view" minOccurs="0" name="TipoAlmacenListarComboResult" nillable="true" type="q24:ArrayOfVTipoAlmacenCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAlmacenListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ENTITY.inv.TipoAlmacen.view" minOccurs="0" name="TipoAlmacenListarResult" nillable="true" type="q25:ArrayOfVTipoAlmacenListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalListarCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalListarComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" minOccurs="0" name="SucursalListarComboResult" nillable="true" type="q26:ArrayOfVSucursalCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" minOccurs="0" name="SucursalListarResult" nillable="true" type="q27:ArrayOfVSucursalLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenXSucursalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlmacenXSucursalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ENTITY.inv.Almacen.View" minOccurs="0" name="ListarAlmacenXSucursalIdResult" nillable="true" type="q28:ArrayOfVAlmacenLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" minOccurs="0" name="vSucursal" nillable="true" type="q29:VSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SucursalGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SucursalGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" minOccurs="0" name="vTraspaso" nillable="true" type="q30:VTraspaso" />
        <xs:element minOccurs="0" name="idTI2" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraspasoGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idTI2" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoDetalleGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" minOccurs="0" name="lista" nillable="true" type="q31:ArrayOfVTraspaso_01" />
        <xs:element minOccurs="0" name="TraspasoId" type="xs:int" />
        <xs:element minOccurs="0" name="almacenId" type="xs:int" />
        <xs:element minOccurs="0" name="idTI2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoDetalleGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraspasoDetalleGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasosListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasosListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" minOccurs="0" name="TraspasosListarResult" nillable="true" type="q32:ArrayOfVTraspaso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoDetalleListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraspasoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoDetalleListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" minOccurs="0" name="TraspasoDetalleListarResult" nillable="true" type="q33:ArrayOfVTraspaso_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventarioXAlmacenId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInventarioXAlmacenIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ENTITY.inv.Traspaso.View" minOccurs="0" name="ListarInventarioXAlmacenIdResult" nillable="true" type="q34:ArrayOfVTListaProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoConfirmarRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traspasoId" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioRecepcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasoConfirmarRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraspasoConfirmarRecepcionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioCategoriaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioCategoriaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ENTITY.reg.PrecioCategoria.View" minOccurs="0" name="PrecioCategoriaListarResult" nillable="true" type="q35:ArrayOfVPrecioCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="precioCategoria_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ENTITY.reg.PrecioCategoria.View" minOccurs="0" name="precioCat" nillable="true" type="q36:VPrecioCategoria" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="precioCategoria_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioCategoria_GuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioProductoListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioProductoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" minOccurs="0" name="PrecioProductoListarResult" nillable="true" type="q37:ArrayOfVPrecioLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioProductoListar2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioProductoListar2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecioProductoListar2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" minOccurs="0" name="vPrecio" nillable="true" type="q38:ArrayOfVPrecioLista" />
        <xs:element minOccurs="0" name="idSucural" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecioGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" minOccurs="0" name="vPrecio" nillable="true" type="q39:VPrecioLista" />
        <xs:element minOccurs="0" name="idSucural" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecioNuevoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" minOccurs="0" name="vPrecio" nillable="true" type="q40:VPrecioLista" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecioModificarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngresoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngresoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" minOccurs="0" name="CmmpraIngresoListarResult" nillable="true" type="q41:ArrayOfVCompraIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngresoListarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngresoListarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" minOccurs="0" name="CmmpraIngresoListarXIdResult" nillable="true" type="q42:ArrayOfVCompraIngresoLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_NotaXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_NotaXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" minOccurs="0" name="CompraIngreso_NotaXIdResult" nillable="true" type="q43:ArrayOfVCompraIngresoNota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" minOccurs="0" name="proveedor" nillable="true" type="q44:VCompraIngresoLista" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" minOccurs="0" name="detalle" nillable="true" type="q45:ArrayOfVCompraIngreso_01" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompraIngreso_GuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_ListarEncabezado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_ListarEncabezadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompraIngreso_ListarEncabezadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngreso_01ListarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngreso_01ListarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" minOccurs="0" name="CmmpraIngreso_01ListarXIdResult" nillable="true" type="q46:ArrayOfVCompraIngreso_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngreso_01ListarXId2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdGrupo2" type="xs:int" />
        <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmmpraIngreso_01ListarXId2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" minOccurs="0" name="CmmpraIngreso_01ListarXId2Result" nillable="true" type="q47:ArrayOfVCompraIngreso_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_02" minOccurs="0" name="Lista" nillable="true" type="q48:VCompraIngreso_02" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompraIngreso_02_GuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_02" minOccurs="0" name="CompraIngreso_02_ListarResult" nillable="true" type="q49:ArrayOfVCompraIngreso_02" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_ListarTabla">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompraIngreso_02_ListarTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompraIngreso_02_ListarTablaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_Lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" minOccurs="0" name="Seleccion_ListaResult" nillable="true" type="q50:ArrayOfVSeleccionLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" minOccurs="0" name="vSeleccion" nillable="true" type="q51:VSeleccion" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" minOccurs="0" name="detalle_Seleccion" nillable="true" type="q52:ArrayOfVSeleccion_01_Lista" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" minOccurs="0" name="detalle_Ingreso" nillable="true" type="q53:ArrayOfVSeleccion_01_Lista" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seleccion_GuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_Lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" minOccurs="0" name="Seleccion_01_ListaResult" nillable="true" type="q54:ArrayOfVSeleccion_01_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_ListarXId_CompraIng_01">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCompraInreso_01" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_ListarXId_CompraIng_01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" minOccurs="0" name="Seleccion_01_ListarXId_CompraIng_01Result" nillable="true" type="q55:ArrayOfVSeleccion_01_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_ListarXId_CompraIng_01_XSeleccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCompraInreso_01" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccion_01_ListarXId_CompraIng_01_XSeleccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" minOccurs="0" name="Seleccion_01_ListarXId_CompraIng_01_XSeleccionResult" nillable="true" type="q56:ArrayOfVSeleccion_01_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_Lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.View" minOccurs="0" name="Transformacion_ListaResult" nillable="true" type="q57:ArrayOfVTransformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.View" minOccurs="0" name="vSeleccion" nillable="true" type="q58:VTransformacion" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion_01.View" minOccurs="0" name="detalle" nillable="true" type="q59:ArrayOfVTransformacion_01" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransformacionGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.Report" minOccurs="0" name="TransformacionIngresoResult" nillable="true" type="q60:ArrayOfVTransformacionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformacionSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.Report" minOccurs="0" name="TransformacionSalidaResult" nillable="true" type="q61:ArrayOfVTransformacionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_01_Lista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransformacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_01_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion_01.View" minOccurs="0" name="Transformacion_01_ListaResult" nillable="true" type="q62:ArrayOfVTransformacion_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_01_TraerFilaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="idProducto_Mat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformacion_01_TraerFilaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion_01.View" minOccurs="0" name="Transformacion_01_TraerFilaProductoResult" nillable="true" type="q63:VTransformacion_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compra_Lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Compra_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra.View" minOccurs="0" name="Compra_ListaResult" nillable="true" type="q64:ArrayOfVCompraLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compra_01_Lista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Compra_01_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra_01.View" minOccurs="0" name="Compra_01_ListaResult" nillable="true" type="q65:ArrayOfVCompra_01_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ENTITY.Plantilla" minOccurs="0" name="VPlantilla" nillable="true" type="q66:VPlantilla" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlantillaGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/UTILITY.Enum" minOccurs="0" name="concepto" type="q67:ENConceptoPlantilla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ENTITY.Plantilla" minOccurs="0" name="PlantillaListarResult" nillable="true" type="q68:ArrayOfVPlantilla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaDetalleGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/ENTITY.Plantilla" minOccurs="0" name="lista" nillable="true" type="q69:ArrayOfVPlantilla01" />
        <xs:element minOccurs="0" name="PlantillaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaDetalleGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlantillaDetalleGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaListarDetallePlantilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlantillaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantillaListarDetallePlantillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/ENTITY.Plantilla" minOccurs="0" name="PlantillaListarDetallePlantillaResult" nillable="true" type="q70:ArrayOfVPlantilla01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" minOccurs="0" name="vVenta" nillable="true" type="q71:VVenta" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VentaGuardarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentasListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VentasListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" minOccurs="0" name="VentasListarResult" nillable="true" type="q72:ArrayOfVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaDetalleGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" minOccurs="0" name="lista" nillable="true" type="q73:ArrayOfVVenta_01" />
        <xs:element minOccurs="0" name="VentaId" type="xs:int" />
        <xs:element minOccurs="0" name="AlmacenId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaDetalleGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VentaDetalleGuardarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaDetalleListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VentaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VentaDetalleListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/ENTITY.ven.view" minOccurs="0" name="VentaDetalleListarResult" nillable="true" type="q74:ArrayOfVVenta_01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>