PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.DiSoft.Zona" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.DiSoft.Zona" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VZona" nillable="true" type="tns:VZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVZona" nillable="true" type="tns:ArrayOfVZona" />
  <xs:complexType name="VZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VZona" nillable="true" type="tns:VZona" />
</xs:schema>