PRESENTER/Connected Services/ServiceDesktop/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Libreria.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Cliente.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Proveedor.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ENTITY.Producto.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ENTITY.reg.PrecioCategoria.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/ENTITY.reg.Precio.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso_01" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion_01.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Transformacion_01.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra.View" />
      <xsd:import schemaLocation="http://localhost:64474/ServiceDesktop.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra_01.View" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDesktop_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_LibreriaListarCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:LibreriaListarCombo" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_LibreriaListarCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LibreriaListarComboResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_LibreriaGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:LibreriaGuardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_LibreriaGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:LibreriaGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteGuardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteModificar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteEliminar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteListar1_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListar1" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClienteListar1_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListar1Response" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClientesListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientesListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ClientesListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorGuardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListarXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListarEncabezado_InputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListarEncabezado" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProveedorListarEncabezado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProveedorListarEncabezadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Proveedor_01ListarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:Proveedor_01ListarXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Proveedor_01ListarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:Proveedor_01ListarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGuardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoModificar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoEliminar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoListarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListarXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoListarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoExisteEnCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoExisteEnCompra" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_ProductoExisteEnCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoExisteEnCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_SucursalListarCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:SucursalListarCombo" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_SucursalListarCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SucursalListarComboResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_SucursalListar_InputMessage">
    <wsdl:part name="parameters" element="tns:SucursalListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_SucursalListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SucursalListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_PrecioCategoriaListar_InputMessage">
    <wsdl:part name="parameters" element="tns:PrecioCategoriaListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_PrecioCategoriaListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrecioCategoriaListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_PrecioProductoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:PrecioProductoListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_PrecioProductoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrecioProductoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngresoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngresoListar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngresoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngresoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngresoListarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngresoListarXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngresoListarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngresoListarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_NotaXId_InputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_NotaXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_NotaXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_NotaXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_Guardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_ListarEncabezado_InputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_ListarEncabezado" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CompraIngreso_ListarEncabezado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompraIngreso_ListarEncabezadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngreso_01ListarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngreso_01ListarXId" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngreso_01ListarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngreso_01ListarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngreso_01ListarXId2_InputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngreso_01ListarXId2" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_CmmpraIngreso_01ListarXId2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmmpraIngreso_01ListarXId2Response" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_Guardar" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_01_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_01_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_01_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_01_ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_01_ListarXId_Vacio_InputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_01_ListarXId_Vacio" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Seleccion_01_ListarXId_Vacio_OutputMessage">
    <wsdl:part name="parameters" element="tns:Seleccion_01_ListarXId_VacioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Transformacion_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Transformacion_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Transformacion_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Transformacion_ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Transformacion_01_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Transformacion_01_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Transformacion_01_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Transformacion_01_ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Compra_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Compra_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Compra_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Compra_ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Compra_01_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Compra_01_Lista" />
  </wsdl:message>
  <wsdl:message name="IServiceDesktop_Compra_01_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Compra_01_ListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDesktop">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/GetData" message="tns:IServiceDesktop_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/GetDataResponse" message="tns:IServiceDesktop_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/GetDataUsingDataContract" message="tns:IServiceDesktop_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/GetDataUsingDataContractResponse" message="tns:IServiceDesktop_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LibreriaListarCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/LibreriaListarCombo" message="tns:IServiceDesktop_LibreriaListarCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/LibreriaListarComboResponse" message="tns:IServiceDesktop_LibreriaListarCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LibreriaGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/LibreriaGuardar" message="tns:IServiceDesktop_LibreriaGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/LibreriaGuardarResponse" message="tns:IServiceDesktop_LibreriaGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteListar" message="tns:IServiceDesktop_ClienteListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteListarResponse" message="tns:IServiceDesktop_ClienteListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteGuardar" message="tns:IServiceDesktop_ClienteGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteGuardarResponse" message="tns:IServiceDesktop_ClienteGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteModificar" message="tns:IServiceDesktop_ClienteModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteModificarResponse" message="tns:IServiceDesktop_ClienteModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteEliminar" message="tns:IServiceDesktop_ClienteEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteEliminarResponse" message="tns:IServiceDesktop_ClienteEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteListar1">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteListar1" message="tns:IServiceDesktop_ClienteListar1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClienteListar1Response" message="tns:IServiceDesktop_ClienteListar1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientesListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ClientesListar" message="tns:IServiceDesktop_ClientesListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ClientesListarResponse" message="tns:IServiceDesktop_ClientesListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProveedorGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorGuardar" message="tns:IServiceDesktop_ProveedorGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorGuardarResponse" message="tns:IServiceDesktop_ProveedorGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProveedorListarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListarXId" message="tns:IServiceDesktop_ProveedorListarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListarXIdResponse" message="tns:IServiceDesktop_ProveedorListarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProveedorListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListar" message="tns:IServiceDesktop_ProveedorListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListarResponse" message="tns:IServiceDesktop_ProveedorListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProveedorListarEncabezado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListarEncabezado" message="tns:IServiceDesktop_ProveedorListarEncabezado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProveedorListarEncabezadoResponse" message="tns:IServiceDesktop_ProveedorListarEncabezado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Proveedor_01ListarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Proveedor_01ListarXId" message="tns:IServiceDesktop_Proveedor_01ListarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Proveedor_01ListarXIdResponse" message="tns:IServiceDesktop_Proveedor_01ListarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoGuardar" message="tns:IServiceDesktop_ProductoGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoGuardarResponse" message="tns:IServiceDesktop_ProductoGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoModificar" message="tns:IServiceDesktop_ProductoModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoModificarResponse" message="tns:IServiceDesktop_ProductoModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoEliminar" message="tns:IServiceDesktop_ProductoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoEliminarResponse" message="tns:IServiceDesktop_ProductoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoListarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoListarXId" message="tns:IServiceDesktop_ProductoListarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoListarXIdResponse" message="tns:IServiceDesktop_ProductoListarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoListar" message="tns:IServiceDesktop_ProductoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoListarResponse" message="tns:IServiceDesktop_ProductoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoExisteEnCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoExisteEnCompra" message="tns:IServiceDesktop_ProductoExisteEnCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/ProductoExisteEnCompraResponse" message="tns:IServiceDesktop_ProductoExisteEnCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SucursalListarCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/SucursalListarCombo" message="tns:IServiceDesktop_SucursalListarCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/SucursalListarComboResponse" message="tns:IServiceDesktop_SucursalListarCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SucursalListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/SucursalListar" message="tns:IServiceDesktop_SucursalListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/SucursalListarResponse" message="tns:IServiceDesktop_SucursalListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrecioCategoriaListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/PrecioCategoriaListar" message="tns:IServiceDesktop_PrecioCategoriaListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/PrecioCategoriaListarResponse" message="tns:IServiceDesktop_PrecioCategoriaListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrecioProductoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/PrecioProductoListar" message="tns:IServiceDesktop_PrecioProductoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/PrecioProductoListarResponse" message="tns:IServiceDesktop_PrecioProductoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngresoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngresoListar" message="tns:IServiceDesktop_CmmpraIngresoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngresoListarResponse" message="tns:IServiceDesktop_CmmpraIngresoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngresoListarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngresoListarXId" message="tns:IServiceDesktop_CmmpraIngresoListarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngresoListarXIdResponse" message="tns:IServiceDesktop_CmmpraIngresoListarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_NotaXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_NotaXId" message="tns:IServiceDesktop_CompraIngreso_NotaXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_NotaXIdResponse" message="tns:IServiceDesktop_CompraIngreso_NotaXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_Guardar" message="tns:IServiceDesktop_CompraIngreso_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_GuardarResponse" message="tns:IServiceDesktop_CompraIngreso_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_ListarEncabezado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_ListarEncabezado" message="tns:IServiceDesktop_CompraIngreso_ListarEncabezado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CompraIngreso_ListarEncabezadoResponse" message="tns:IServiceDesktop_CompraIngreso_ListarEncabezado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngreso_01ListarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXId" message="tns:IServiceDesktop_CmmpraIngreso_01ListarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXIdResponse" message="tns:IServiceDesktop_CmmpraIngreso_01ListarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngreso_01ListarXId2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXId2" message="tns:IServiceDesktop_CmmpraIngreso_01ListarXId2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXId2Response" message="tns:IServiceDesktop_CmmpraIngreso_01ListarXId2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Seleccion_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_Lista" message="tns:IServiceDesktop_Seleccion_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_ListaResponse" message="tns:IServiceDesktop_Seleccion_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Seleccion_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_Guardar" message="tns:IServiceDesktop_Seleccion_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_GuardarResponse" message="tns:IServiceDesktop_Seleccion_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Seleccion_01_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_01_Lista" message="tns:IServiceDesktop_Seleccion_01_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_01_ListaResponse" message="tns:IServiceDesktop_Seleccion_01_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Seleccion_01_ListarXId_Vacio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_01_ListarXId_Vacio" message="tns:IServiceDesktop_Seleccion_01_ListarXId_Vacio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Seleccion_01_ListarXId_VacioResponse" message="tns:IServiceDesktop_Seleccion_01_ListarXId_Vacio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transformacion_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Transformacion_Lista" message="tns:IServiceDesktop_Transformacion_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Transformacion_ListaResponse" message="tns:IServiceDesktop_Transformacion_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transformacion_01_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Transformacion_01_Lista" message="tns:IServiceDesktop_Transformacion_01_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Transformacion_01_ListaResponse" message="tns:IServiceDesktop_Transformacion_01_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compra_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Compra_Lista" message="tns:IServiceDesktop_Compra_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Compra_ListaResponse" message="tns:IServiceDesktop_Compra_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compra_01_Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDesktop/Compra_01_Lista" message="tns:IServiceDesktop_Compra_01_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDesktop/Compra_01_ListaResponse" message="tns:IServiceDesktop_Compra_01_Lista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDesktop" type="tns:IServiceDesktop">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LibreriaListarCombo">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/LibreriaListarCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LibreriaGuardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/LibreriaGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClienteListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteGuardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClienteGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteModificar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClienteModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteEliminar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClienteEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteListar1">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClienteListar1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ClientesListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedorGuardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProveedorGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedorListarXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProveedorListarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedorListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProveedorListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedorListarEncabezado">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProveedorListarEncabezado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proveedor_01ListarXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Proveedor_01ListarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoGuardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoModificar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoEliminar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoListarXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoListarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoExisteEnCompra">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/ProductoExisteEnCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SucursalListarCombo">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/SucursalListarCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SucursalListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/SucursalListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrecioCategoriaListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/PrecioCategoriaListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrecioProductoListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/PrecioProductoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngresoListar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CmmpraIngresoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngresoListarXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CmmpraIngresoListarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_NotaXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CompraIngreso_NotaXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_Guardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CompraIngreso_Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraIngreso_ListarEncabezado">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CompraIngreso_ListarEncabezado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngreso_01ListarXId">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CmmpraIngreso_01ListarXId2">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/CmmpraIngreso_01ListarXId2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seleccion_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Seleccion_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seleccion_Guardar">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Seleccion_Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seleccion_01_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Seleccion_01_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seleccion_01_ListarXId_Vacio">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Seleccion_01_ListarXId_Vacio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transformacion_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Transformacion_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transformacion_01_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Transformacion_01_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compra_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Compra_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compra_01_Lista">
      <soap:operation soapAction="http://tempuri.org/IServiceDesktop/Compra_01_Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceDesktop" binding="tns:BasicHttpBinding_IServiceDesktop">
      <soap:address location="http://localhost:64474/ServiceDesktop.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>