PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Sucursal.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVSucursalCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VSucursalCombo" nillable="true" type="tns:VSucursalCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVSucursalCombo" nillable="true" type="tns:ArrayOfVSucursalCombo" />
  <xs:complexType name="VSucursalCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLibreria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VSucursalCombo" nillable="true" type="tns:VSucursalCombo" />
  <xs:complexType name="ArrayOfVSucursalLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VSucursalLista" nillable="true" type="tns:VSucursalLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVSucursalLista" nillable="true" type="tns:ArrayOfVSucursalLista" />
  <xs:complexType name="VSucursalLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VSucursalLista" nillable="true" type="tns:VSucursalLista" />
</xs:schema>