PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.inv.Ajuste.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.inv.Ajuste.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VAjuste">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdConcepto" type="xs:int" />
      <xs:element minOccurs="0" name="Obs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAjuste" nillable="true" type="tns:VAjuste" />
  <xs:complexType name="ArrayOfVAjusteDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAjusteDetalle" nillable="true" type="tns:VAjusteDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAjusteDetalle" nillable="true" type="tns:ArrayOfVAjusteDetalle" />
  <xs:complexType name="VAjusteDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contenido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaVen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAjuste" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalContenido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAjusteDetalle" nillable="true" type="tns:VAjusteDetalle" />
  <xs:complexType name="ArrayOfVAjusteLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAjusteLista" nillable="true" type="tns:VAjusteLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAjusteLista" nillable="true" type="tns:ArrayOfVAjusteLista" />
  <xs:complexType name="VAjusteLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NAlmacen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NConcepto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAjusteLista" nillable="true" type="tns:VAjusteLista" />
  <xs:complexType name="VAjusteFisico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaReg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdConcepto" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportadorPor" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAjusteFisico" nillable="true" type="tns:VAjusteFisico" />
  <xs:complexType name="ArrayOfVAjusteFisicoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAjusteFisicoProducto" nillable="true" type="tns:VAjusteFisicoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAjusteFisicoProducto" nillable="true" type="tns:ArrayOfVAjusteFisicoProducto" />
  <xs:complexType name="VAjusteFisicoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diferencia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaVen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fisico" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAjuste" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAjusteFisicoProducto" nillable="true" type="tns:VAjusteFisicoProducto" />
</xs:schema>