PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.CompraIngreso.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompraIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngreso" nillable="true" type="tns:VCompraIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngreso" nillable="true" type="tns:ArrayOfVCompraIngreso" />
  <xs:complexType name="VCompraIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entregado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEnt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRec" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompraIngreso" nillable="true" type="tns:VCompraIngreso" />
  <xs:complexType name="ArrayOfVCompraIngresoLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngresoLista" nillable="true" type="tns:VCompraIngresoLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngresoLista" nillable="true" type="tns:ArrayOfVCompraIngresoLista" />
  <xs:complexType name="VCompraIngresoLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadSemanas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entregado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEnt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRec" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvee" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvee_01" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucur" type="xs:int" />
      <xs:element minOccurs="0" name="NumNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recibido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRecibido" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalVendido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompraIngresoLista" nillable="true" type="tns:VCompraIngresoLista" />
  <xs:complexType name="ArrayOfVCompraIngresoNota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraIngresoNota" nillable="true" type="tns:VCompraIngresoNota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraIngresoNota" nillable="true" type="tns:ArrayOfVCompraIngresoNota" />
  <xs:complexType name="VCompraIngresoNota">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VCompraIngresoLista">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
          <xs:element minOccurs="0" name="IdSkype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MarcaTipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrecioCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Total" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalCant" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VCompraIngresoNota" nillable="true" type="tns:VCompraIngresoNota" />
</xs:schema>