PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Compra.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompraLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompraLista" nillable="true" type="tns:VCompraLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompraLista" nillable="true" type="tns:ArrayOfVCompraLista" />
  <xs:complexType name="VCompraLista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VCompra">
        <xs:sequence>
          <xs:element minOccurs="0" name="NombreTipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VCompraLista" nillable="true" type="tns:VCompraLista" />
  <xs:complexType name="VCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descu" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVen" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProvee" type="xs:int" />
      <xs:element minOccurs="0" name="IdSuc" type="xs:int" />
      <xs:element minOccurs="0" name="Observ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVenta" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompra" nillable="true" type="tns:VCompra" />
</xs:schema>