PRESENTER/Connected Services/ServiceDesktop/ServiceDesktop21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENTITY.com.Seleccion.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRSeleccionNota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSeleccionNota" nillable="true" type="tns:RSeleccionNota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSeleccionNota" nillable="true" type="tns:ArrayOfRSeleccionNota" />
  <xs:complexType name="RSeleccionNota">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="DescripcionRecibido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entregado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRec" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaReg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSpyre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Merma" type="xs:decimal" />
      <xs:element minOccurs="0" name="MermaPorcentaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSeleccionNota" nillable="true" type="tns:RSeleccionNota" />
</xs:schema>